<div ng-show="!authenticated">

				
			<header class="align-center">
				<h2>Rejestracja</h2>
			</header>
	
	<form>
		<input type="email" placeholder="E-mail" ng-model="registerCtrl.user.email" errormsg="Nieprawid³owy adres e-mail." nullmsg="To pole jest wymagane."><br>
		<input type="password" placeholder="Password" ng-model="registerCtrl.user.password"><br>
		<a ng-click="registerCtrl.saveUser()" href="#!/login">Rejestracja</a>

	</form>

</div>


<div ng-show="authenticated">
	<h1>Jesteœ ju¿ zarejestrowany</h1>
</div>
