<!DOCTYPE html>
<html data-ng-app="app">
    <head>
        <meta charset="UTF-8">
         <link rel="stylesheet" type="text/css" href="css/cart.css" />
        <title>Sklep</title>
    </head>
    <body>
    <a href="#!index">Strona glowna</a>
	<a href="#!promotions">Promocje</a>
	<a href="#!products">Produkty</a>
	<a href="#!producers">Producenci</a>
	<a href="#!contact">Kontakt</a>
	<a href="#!register">Rejestracja</a>
	<a href="#!login">Logowanie</a>
	
	
	<div class="products-wrapper" ng-controller="ItemListController">
	
	<div ng-view></div>
	
	<ul class="cart-item--list">
      <li class="cart-item" ng-repeat="item in cart">
        <button class="cart-item--remove product-button" ng-click="removeProduct(item.id)">Remove</button>
        <h1 class="cart-item--name product-text--large">{{item.name}}</h1>
        <p class="cart-item--quantity product-text--small">{{item.quantity}} Nos</p>
      </li>
    </ul>
  </div>
	
	
	
	
	
	
	
    
    
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
    </body>
</html>